{{#each collections as |collection|}}
  {{log collection}}
  <div class="wrapper">
    <section data-id="{{collection.id}}">
      <div class="container">
        <div class="row">
          <p class="handlebar-field">Name:&nbsp;</p>
          <p>
            {{limit collection.name 15}}
          </p>
        </div>
        <div class="row">
          <p class="handlebar-field">Author:&nbsp;</p>
          <p>
            {{limit collection.author 15}}
          </p>
        </div>
        <button class="button chenges set-collection">Set</button>
        {{#if collection.editable}}
        <button class="button" id="update-button">Update</button>
        <button class="button changes delete-collection">Remove</button>
        {{/if}}
      </div>
    </section>
  </div>
  <hr>
{{/each}}
