<h3>Create a new collection</h3>
<form class="collection-name">
<input type="text" class='col' name="collection[name]" placeholder="Name">
<input type="submit" value="save name">
</form>
<form class="file-upload" name="0">
<label for="file-upload">Upload File</label>
<input type="file" name="upload" class="form-control-file">
<input type="submit" value="Submit">
</form>
<form class="file-upload" name="1">
<label for="file-upload">Upload File</label>
<input type="file" name="upload" class="form-control-file">
<input type="submit" value="Submit">
</form>
<form class="file-upload" name="2">
<label for="file-upload">Upload File</label>
<input type="file" name="upload" class="form-control-file">
<input type="submit" value="Submit">
</form>
<form class="file-upload" name="3">
<label for="file-upload">Upload File</label>
<input type="file" name="upload" class="form-control-file">
<input type="submit" value="Submit">
</form>

<form class="file-upload" name="4">
<label for="file-upload">Upload File</label>
<input type="file" name="upload" class="form-control-file">
<input type="submit" value="Submit">
</form>
<form class="file-upload"  name="5">
<label for="file-upload">Upload File</label>
<input type="file" name="upload" class="form-control-file">
<input type="submit" value="Submit">
</form>
<form class="file-upload" name="6">
<label for="file-upload">Upload File</label>
<input type="file" name="upload" class="form-control-file">
<input type="submit" value="Submit">
</form>
<form class="file-upload" name="7">
<label for="file-upload">Upload File</label>
<input type="file" name="upload" class="form-control-file">
<input type="submit" value="Submit">
</form>

<form class="file-upload" name="8">
<label for="file-upload">Upload File</label>
<input type="file" name="upload" class="form-control-file">
<input type="submit" value="Submit">
</form>
<form class="file-upload"  name="9">
<label for="file-upload">Upload File</label>
<input type="file" name="upload" class="form-control-file">
<input type="submit" value="Submit">
</form>
<form class="file-upload" name="10">
<label for="file-upload">Upload File</label>
<input type="file" name="upload" class="form-control-file">
<input type="submit" value="Submit">
</form>
<form class="file-upload" name="11">
<label for="file-upload">Upload File</label>
<input type="file" name="upload" class="form-control-file">
<input type="submit" value="Submit">
</form>

<form class="file-upload" name="12">
<label for="file-upload">Upload File</label>
<input type="file" name="upload" class="form-control-file">
<input type="submit" value="Submit">
</form>
<form class="file-upload"  name="13">
<label for="file-upload">Upload File</label>
<input type="file" name="upload" class="form-control-file">
<input type="submit" value="Submit">
</form>
<form class="file-upload" name="14">
<label for="file-upload">Upload File</label>
<input type="file" name="upload" class="form-control-file">
<input type="submit" value="Submit">
</form>
<form class="file-upload" name="15">
<label for="file-upload">Upload File</label>
<input type="file" name="upload" class="form-control-file">
<input type="submit" value="Submit">
</form>
<button id="update-collection">Create collection </button>
