@import '~bootstrap/scss/bootstrap';
@import 'auth-form';
@import 'theme';
@import 'header-footer';
@import 'animate';

*:focus {
  outline: none;
}
a {
  color: #92badd;
  display:inline-block;
  text-decoration: none;
  font-weight: 400;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
}

body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

button {
  color: #92badd;
}

button:focus {
  outline: none;
}


#content {
  width: 30em;
  overflow-x: auto;
  white-space: nowrap;
}

.handlebar-field {
  color: $blue;
}

.button-keys {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 100px;
  width: 100px;
  background-color: $gray;
  border-color: $gray;
}

.navbar {
  color: #92badd;
  background-color: $blue;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: +1;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
}
td {
  color: transparent;
}
