$lightgray: #cecece;
$gray: #ececec;
$darkergray: #373737;
$darkestrgray: #121212;
$black: #000;

$purple: #f001e5;
$lightpurple: #fb58f4;
$darkpurple: #9b0195;

$blue: #536ffd;
$yellow: #faf318;
$red: #fa1830;
